{% extends 'main/layout.html' %}

{% block content %}
<div class="features">
<h1>Новости</h1>
<h2>Добро пожаловать</h2>
{# Так оформляется комментарий #}
 {% if news %}
 {% for el in news %}
 <div class="alert-warning">
  <h3>{{el.title}}</h3>
 <p>{{el.anons}}</p>
  <a href="{% url 'news_detail' el.id %}" class="btn btn-warning">Читать</a>
  </div>
 {% endfor %}
 {% else %}
 <p>Нет новостей</p>
{% endif %}
  <button class="btn btn-danger">на главную</button>
</div>

{% endblock %}

{% block title %}Новости{% endblock %}
